---
title: Singup to Simplii
---

<div class="container">
    
    <h1>Sign up to Simplii</h1>

    <form action="welcome" netflify>

    <div class="form-wrapper col-sm-8">
      
        <!--
        <div class="form-group box">
          <h2>0 - Your plan</h2>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="  optionsRadios1" value="option1" checked>
              1 GB
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="  optionsRadios2" value="option2">
              10 GB
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="  optionsRadios2" value="option2">
              20 GB
            </label>
          </div>
          
        </div>
        -->

        <div class="form-group box" id="number">
          <h2>0 - Number</h2>
          <div class="number-options">
            <div class="form-check">
              <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gridRadios" id=" gridRadios1" value="option1" checked>
                  New number
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gridRadios" id=" gridRadios2" value="option2" checked>
                  Transfer number
                </label>
              </div>
          </div>
          <div class="transfer">
            <label>Your number to be transfered</label>
            <input class="form-control" type="number" name="phone-number" id="port-number" />
          </div>
        </div>
      
        <div class="form-group box" id="contact">
          <h2>1 - Contact</h2>
          <div class="form-group">
            <label for="contact-name">Your name</label>
            <input type="text" class="form-control" id="contact-name" placeholder="Enter your name">
          </div>

          <div class="form-group">
            <label for="contact-phone">Contact phone number</label>
            <input type="number" class="form-control" id="contact-phone" aria-describedby="phoneHelp" placeholder="Enter contact phone number">
            <small id="phoneHelp" class="form-text text-muted">We only call you on this number if really nescesery</small>
          </div>
  
          <div class="form-group">
            <label for="contact-email">Email address</label>
            <input type="email" class="form-control" id="contact-email"     aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We promise not to share your email with anyone else and will only send you occational informational emails.</small>
          </div>
  
        </div>
  

        <div class="form-group box" id="delivery">
          <h2>2 - Delivery</h2>
          <div class="form-group">
            <label for="contact-name">Your name</label>
            <input type="text" class="form-control" id="delivery-name"   aria-describedby="nameHelp" placeholder="Enter your name">
            <small id="nameHelp" class="form-text text-muted">Only used for delivery</small>
          </div>

          <div class="form-group">
            <label for="contact-delivery-address">Address</label>
            <input type="text" class="form-control" id="contact-delivery-address" aria-describedby="delivery-addressHelp" placeholder="Enter your delivery address">
          </div>

          <div class="form-group">
            <label for="contact-delivery-address2">Floor, house name, etc.</label>
            <input type="text" class="form-control" id="contact-delivery-address2" aria-describedby="delivery-address2Help" placeholder="Enter your Floor, house name, etc.">
          </div>

          <div class="form-group">
            <label for="contact-delivery-area">Area</label>
            <input type="text" class="form-control" id="contact-delivery-area"aria-describedby="delivery-areaHelp" placeholder="Eg. Miguel Hidalgo">
          </div>

          <div class="row">
            <div class="form-group col-sm-3">
              <label for="contact-delivery-area">Postal code</label>
              <input type="number" class="form-control" id="  contact-delivery-area"aria-describedby="delivery-areaHelp"  placeholder="eg. 11930">
            </div>
  
            <div class="form-group col-sm-9">
                <label for="contact-delivery-area">State</label>
                <input type="text" class="form-control" id=" contact-delivery-state"aria-describedby="delivery-stateHelp"  placeholder="Enter your delivery state">
                </div>
            </div>

          <div class="form-group">
                <label for="exampleTextarea">Special delivery instructions</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Eg. Press code 2342 at the gate to enter the secret lair."></textarea>
            </div>
        </div>

        <div class="form-group box" id="payment">
          <h2>3 - Payment</h2>

          <div class="row">
            <div class="form-group col-sm-7" id="creditcard">
  
            <div class="form-group">
                <label for="credit-name">Name on card</label>
                <input type="email" class="form-control" id="credit-name"   placeholder="Enter your name">
              </div>
              <div class="form-group">
                <label for="credit-card-number">Credit card number</label>
                <input type="number" class="form-control" id="credit-card-number" aria-describedby="numberHelp"   placeholder="**** **** **** ****">
              </div>
  
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="exp-date">Exp. Month</label>
                  <input class="form-control" type="number" lenght="2" placeholder="MM">
                </div>
                <div class="form-group col-sm-4">
                  <label for="exp-date">Exp. Year</label>
                  <input class="form-control" type="number" lenght="2" placeholder="YY">
                </div>
                <div class="form-group col-sm-4">
                  <label for="exp-date">CVV</label>
                  <input class="form-control" type="number" lenght="3" placeholder="***">
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="payment-token" id="payment-token">
        </div>

        

        
    </div>
  
  
    <div class="sidebar" id="sidebar">
        <div class="box">
            <h3>Your order</h3>
            <p id="sum-contact-name"></p>
            <p id="sum-contact-phone"></p>
            <p id="sum-contact-email"></p>  
            <div class="form-group" id="submit">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </div>
        <p>Call us now if you want help signing up.</p>
    </div>
    </form>
</div>