---
title: Signup to Simplii
---

<div class="container">
    
    <h1>Sign up to Simplii</h1>

    <form id="netlify-form" name="Signup" action="welcome" netlify></form>

    <form id="signup-form">
        <input type="hidden" id="plan-code" name="plan-code">
        <input type="hidden" name="payment-token" id="payment-token">
    </form>

    <div class="form-wrapper col-sm-8">
      
        <div class="form-group box" id="number">
            <button class="btn btn-link edit-btn">Edit</button>
            <form>
          <h2>0 - Number</h2>
          <div class="inner collapsed">
            <div class="number-options">
            <div class="form-check">
              <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="number-port" id="number-port-false" value="number-port-false">
                  New number
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="number-port" id="number-port-true" value="number-port-true">
                  Transfer number
                </label>
              </div>
                <small id="number-port-error" class="validation-error"></small>
          </div>
          <div class="transfer">
            <label>Your number to be transferred</label>
            <input class="form-control" type="tel" name="port-number" id="port-number" />
              <small id="port-number-error" class="validation-error"></small>
          </div>

          <button type="submit" class="btn btn-primary next-btn">Next</button>
          </div>
            </form>
        </div>
      
        <div class="form-group box" id="contact">
            <button class="btn btn-link edit-btn">Edit</button>
            <form>
          <h2>1 - Contact</h2>
          <div class="inner collapsed">
            <div class="form-group">
            <label for="contact-name">Your name</label>
            <input type="text" class="form-control" id="contact-name" name="contact-name" placeholder="Enter your name">
                <small id="contact-name-error" class="validation-error"></small>
          </div>

          <div class="form-group">
            <label for="contact-phone">Contact phone number</label>
            <input type="tel" class="form-control" id="contact-phone" name="contact-phone" aria-describedby="phoneHelp" placeholder="Enter contact phone number">
            <small id="phoneHelp" class="form-text text-muted">We only call you on this number if really necessary</small>
              <small id="contact-phone-error" class="validation-error"></small>
          </div>
  
          <div class="form-group">
            <label for="contact-email">Email address</label>
            <input type="email" class="form-control" id="contact-email" name="contact-email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We promise not to share your email with anyone else and will only send you occational informational emails.</small>
              <small id="contact-email-error" class="validation-error"></small>
          </div>
            <button type="submit" class="btn btn-primary next-btn">Next</button>
          </div>
            </form>
        </div>
  

        <div class="form-group box" id="delivery">
            <button class="btn btn-link edit-btn">Edit</button>
            <form>
          <h2>2 - Delivery</h2>
          <div class="inner collapsed">
            <div class="form-group">
            <label for="delivery-name">Your name</label>
            <input type="text" class="form-control" id="delivery-name" name="delivery-name" aria-describedby="nameHelp" placeholder="Enter your name">
            <small id="nameHelp" class="form-text text-muted">Only used for delivery</small>
                <small id="delivery-name-error" class="validation-error"></small>
          </div>

          <div class="form-group">
            <label for="delivery-address">Address</label>
            <input type="text" class="form-control" id="delivery-address" name="delivery-address" aria-describedby="delivery-addressHelp" placeholder="Enter your delivery address">
              <small id="delivery-address-error" class="validation-error"></small>
          </div>

          <div class="form-group">
            <label for="delivery-address2">Floor, house name, etc.</label>
            <input type="text" class="form-control" id="delivery-address2" name="delivery-address2" aria-describedby="delivery-address2Help" placeholder="Enter your Floor, house name, etc.">
              <small id="delivery-address2-error" class="validation-error"></small>
          </div>

          <div class="form-group">
            <label for="delivery-area">Area</label>
            <input type="text" class="form-control" id="delivery-area" name="delivery-area" aria-describedby="delivery-areaHelp" placeholder="Eg. Miguel Hidalgo">
              <small id="delivery-area-error" class="validation-error"></small>
          </div>

          <div class="row">
            <div class="form-group col-sm-3">
              <label for="delivery-postal">Postal code</label>
              <input type="number" class="form-control" id="delivery-postal" name="delivery-postal" aria-describedby="delivery-areaHelp"  placeholder="eg. 11930">
                <small id="delivery-postal-error" class="validation-error"></small>
            </div>
  
            <div class="form-group col-sm-9">
                <label for="delivery-area">State</label>
                <input type="text" class="form-control" id="delivery-state" name="delivery-state" aria-describedby="delivery-stateHelp"  placeholder="Enter your delivery state">
                <small id="delivery-state-error" class="validation-error"></small>
                </div>
            </div>

          <div class="form-group">
                <label for="delivery-instructions">Special delivery instructions</label>
                <textarea class="form-control" id="delivery-instructions" name="delivery-instructions" rows="3" placeholder="Eg. Press code 2342 at the gate to enter the secret lair."></textarea>
            </div>
            <button type="submit" class="btn btn-primary next-btn">Next</button>
          </div>
            </form>
        </div>

        <div class="form-group box" id="payment">
            <button class="btn btn-link edit-btn">Edit</button>
            <form>
          <h2>3 - Payment</h2>

          <div class="inner collapsed">
            <div class="row">
            <div class="form-group col-sm-7" id="creditcard">

            <div style="display: none" id="credit-card-listbox"></div>
  
            <div class="form-group">
                <label for="credit-card-name">Name on card</label>
                <input type="text" class="form-control" id="credit-card-name" name="credit-card-name" payu-content="name_card" placeholder="Enter your name">
                <small id="credit-card-name-error" class="validation-error"></small>
              </div>
              <div class="form-group">
                <label for="credit-card-number">Credit card number</label>
                <input type="number" class="form-control" id="credit-card-number" payu-content="number" aria-describedby="numberHelp" placeholder="**** **** **** ****">
                  <small id="credit-card-number-error" class="validation-error"></small>
              </div>
  
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="credit-card-exp-month">Exp. Month</label>
                  <input name="credit-card-exp-month" id="credit-card-exp-month" payu-content="exp_month" class="form-control" type="number" min="1" max="12" placeholder="MM">
                    <small id="credit-card-exp-month-error" class="validation-error"></small>
                </div>
                <div class="form-group col-sm-4">
                  <label for="credit-card-exp-year">Exp. Year</label>
                  <input name="credit-card-exp-year" id="credit-card-exp-year" payu-content="exp_year" class="form-control" type="number" min="17" max="99" maxlength="2" placeholder="YY">
                    <small id="credit-card-exp-year-error" class="validation-error"></small>
                </div>
                <div class="form-group col-sm-4">
                  <label for="credit-card-cvv">CVV</label>
                  <input name="credit-card-cvv" id="credit-card-cvv" payu-content="cvc" class="form-control" type="number" max="9999" minlength="3" maxlength="4" placeholder="***">
                    <small id="credit-card-cvv-error" class="validation-error"></small>
                </div>
              </div>
            </div>
          </div>
            <input payu-content="payer_id" value="MI PAYER ID" type="hidden">

              <button type="submit" class="btn btn-success next-btn">Sign up</button>
          </div>
            </form>
        </div>
    </div>
  
  
    <div class="sidebar" id="sidebar">
        <div class="box">
            <h3>Your order</h3>
            <p id="sum-plan-name"></p>
            <p id="sum-contact-name"></p>
            <p id="sum-contact-phone"></p>
            <p id="sum-contact-email"></p>
            <p id="sum-total"></p>
            <div class="form-group" id="submit">
                <button type="submit" class="btn btn-success btn-block" id="submit-btn" disabled="disabled">Sign up</button>
            </div>
        </div>
        <p>Call us now if you want help signing up.</p>
    </div>
</div>

<script type="text/javascript"  src="https://gateway.payulatam.com/ppp-web-gateway/javascript/PayU.js"></script>
<% if development? %>
    <%= javascript_include_tag "payu.config.development.js" %>
<% else %>
    <%= javascript_include_tag "payu.config.production.js" %>
<% end %>
<%= javascript_include_tag "jquery-ui-1.12.1.core-only.min.js", "signup-section.widget.js", "payment.js", "signup.js" %>
