---
title: Welcome to Teligente
---

<div class="welcome">
  <h1>Teligente front page</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->